{% extends 'base.html.twig' %} 



{% block body %}

<h1 class="display-4 text-center mt-2">Connexion</h1>

{% if error %}

<div class="bg-danger text-white text-center p-3 col-md-4 mx-auto rounded">
    {{error.messageKey|trans(error.messageData,'security')}}

</div>
    
{% endif %}

<form action="{{ path('security_login') }}" method="post" class="col-sm-3 col-md-6 mx-auto style-formulaire">

    <div class="form-group">
        <label for="_username">Email</label> 
        <input type="text" class="form-control" name="_username" placeholder="Adresse email..." required> 
    </div>

    <div class="form-group">
        <label for="_password">Mot de passe</label>
        <input type="password" class="form-control" value="{{ last_username }}" name="_password" placeholder="Mot de passe..." required>
    </div>

    <button type="submit" class="btn btn-secondary">Identifiez-vous</button>

</form>


{% endblock %}