.my-container{
    min-height: 85vh !important;
    margin: auto;
    width: 900px;
    height: 300px;
    padding: auto;
    /* margin-bottom: 300px !important; */

}

.carousel-dimension{
    width: 600px;
    height: 367px;
    margin: auto;
    padding: auto;
}
.img-fluid{
    margin: auto;
    width: 900px;
    height: 300px;
    padding: auto;

}

   

.card-group{
    margin-bottom: 200px!important;
}
   
.carousel-dimension{
    margin-bottom: 200px!important;
}
body{
    background:#B9C1C0;
}