{% extends "base.html.twig" %}

{% block body %}

  <h1 class="text-center"style="font-style:italic;"> En cuisine </h2>
     

      <div class= "container col-md-8">
       <div class="card bg-dark text-white mb-3">
            <img src="images/tabliers.jpg" class="card-img " alt="...">
    
        </div>
  

<h1 class="text-center" style="font-style:italic;"> Présentation de notre equipe</h2>
<p class="bg-white text-dark p-5">
Bonjour tout le monde 
Et bienvenue sur le blog de <strong>Nithya, Sarah, Olivia et Xingya!</strong> Depuis le temps qu'on voulait se lancer , c'est chose faite.
Nous sommes là pour partager avec vous notre passion pour la cuisine à travers le monde avec des recettes personnelles , des recettes dénichées sur d'autres blogs mais aussi dans des livres.
Nous voulons vous donner envie avec nos différents plats.
C'est parti! 
 
</p><br>


      <div class="card-deck mb-6 ">


        <div class="card hov">
          <div class="card-header headerp"><p><strong style="color:#c70039; font-size:14px;">"C"</strong>- Recettes Chinoises</p>
          </div>
          <img src="images/xinguya2.jpg" class="card-img-top" alt="...">

          <div class="card-body">
              <h5 class="card-title">大家好(Salut les amies) </h5>
              <p class="card-text">D'origine Pékinoise,passionés de cuisine,je vais vous partager à travers ce blog des recettes de cuisine traditionnelle chinoise et asiatique.</p>
          </div>
         
          <div class="card-footer">
              <small class="text-muted"><b>Xingya</b></small>
          </div>
        </div>
        
        <div class="card hov">
          <div class="card-header headerp"><p><strong style="color:#c70039; font-size:14px;">"I"</strong>- Recettes Indiennes</p>
          </div>
          <img src="images/nithya.jpg" class="card-img-top mr-2" alt="...">
        
          <div class="card-body">
            <h5 class="card-title namaste">Hello Tout le monde</h5>
            <p class="card-text">Grande passionnée de cuisine Indienne je vais vous faire découvrir mes recettes traditionelles de grand-mères.  </p>
          </div>

          <div class="card-footer">
            <small class="text-muted"><b>Nithya</b></small>
          </div>
        </div>
        
        <div class="card hov">
          <div class="card-header headerp"><p><strong style="color:#c70039; font-size:14px;">"A"</strong>- Recettes Antillaises</p>
          </div>
          <img src="images/olivia2.jpg" class="card-img-top" alt="...">
        
          <div class="card-body">
            <h5 class="card-title">Coucou à tous </h5>
            <p class="card-text">Je cuisine mes origines,adepte de la cuisine antillaise  .</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><b>Olivia</b></small>
          </div>
        </div>
        
        <div class="card hov">
          <div class="card-header headerp"><p><strong style="color:#c70039; font-size:14px;">"O"</strong>- Recettes Orientales</p>
          </div>
          <img src="images/sarah2.jpg" class="card-img-top" alt="...">


          <div class="card-body">
            <h5 class="card-title">Bonjour à tous !</h5>
            <p class="card-text">j'aime la nourriture orientale et ses saveurs hâte de vous faire decouvrir.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><b>Sarah</b></small>
          </div>
        </div>

      </div>


  </div>       
</div>
{% endblock %}
