{% extends 'base.html.twig' %}

{% block title %} Blog Cuisine Internationales| Recettes Internationales {% endblock %}

{% block body %}

        <h1 class="display-4 text-center my-4 animate__animated animate__backInDown" style="animate-delay: 1.2s;"> Liste des catégories de recettes</h1>

    
        <ul class="category-list"> 
            <li class="affichertoutes"><a href="{{ path('blog') }}">Afficher Toutes</a></li>
            <li class="antillaise">Recettes Antillaise</li>
            <li class="orientale">Recettes Orientales</li>
            <li class="indienne">Recettes Indiennes</li>
            <li class="chinoise">Recettes Chinoises</li>
            <li class="autre">Autres</li>
        </ul>



{% endblock %}
