{% extends 'base.html.twig' %}

{% block title %} Blog Cuisine Internationales| Recettes Internationales {% endblock %}

{% block body %}

        <h1 class="display-4 text-center my-4 animate__animated animate__backInDown" style="animation-delay: 1.2s;"> Liste des catégories de recettes</h1>

            
        <ul class="category-list d-md-flex mx-auto"> 

            <li><a href="{{ path('blog') }}">
                <div class="hotsmoke">
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                </div>
                    <img src="../images/bowl1.png" style="width:100px;" alt="">Afficher toutes</a>
            </li>
            

            {% for data in category %}
                
            <li><a href="{{ path('blog_category', {'cat': data.title}) }}">
                
                <div class="hotsmoke">
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                    <div class="smoke"></div>
                </div>
                    <img src="../images/bowl1.png" style="width:100px;" alt="">{{ data.title }}</a>
            </li>
                                
            {% endfor %}
           
        </ul>



{% endblock %}
